* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: rgb(97, 97, 97);
}

li {
  list-style: none;
}
.actions select {
  background-color: lightgray;
  font-family: inherit;
  border: none;
  border-radius: 10rem;
  padding: 0.4rem 1.2rem;
  font-weight: 600;
  font-size: 1rem;
  margin-left: 95rem;
  margin-top: 1.5rem;
  position: absolute;
  cursor: pointer;
}
